* text=auto !eol
/pom.xml -text
src/main/assembly/javaee-api-libs.xml -text
src/main/java/org/apache/openejb/javaee/api/activator/MultiActivator.java svneol=native#text/plain
src/main/resources/META-INF/LICENSE -text
src/main/resources/META-INF/NOTICE -text
src/main/resources/META-INF/README.txt -text
